HOST: http://www.google.com/

--- llb ---

---
Welcome to the L.L.Bean API documentation.

This document was we designed describe the API resource exposed as part of the L.L.Bean API Program.  

API requirements
====
 1. Requirement 1
 2. Requirement 2

User stories
====
 1. User Story 1
 2. User Story 2

Use cases
====
 1. Use Case 1
 2. Use Case 2

User Interface Specifications
====
 1. Specification 1
 2. Specification 2


# Authentication and Access
This document references serveral concepts discribed in the Usergrid platform.  The full documentation
can be found [here](http://apigee.com/docs/usergrid/content/authentication-and-access-usergrid "Apigee Usergrid").

Our API requests are authenticated via OAuth (Open Authorization) 2.0. 
Your API authorization enables access using a security token tied specifically to an app and device, for a specific set of resources and actions.

### Requesting access tokens
The API OAuth 2.0 mechanisms require an access token with some data operation requests. 

To obtain the access token, you connect to an appropriate web service endpoint and 
provide the correct client credentials. The credentials required to get the token depend on the type of access you need.


<table>
<tr><td>Access Type<td><td>Description</td><td>Access Token Request</td></tr>
<tr><td>Application user<td><td>Policy-limited access to perform operations on an 
App Services application account</td>
<td>grant_type=password, username={username}, password={password}</td></tr>
<tr><td>Application<td><td>Full access to perform any operation on an App Services 
application account</td>
<td>grant_type=client_credentials, client_id={client_id}, client_secret={client_secret}</td></tr>
<tr><td>Admin User<td><td>Full access to perform any operation on all organization 
accounts of which the admin user is a member</td>
<td>grant_type=password, username={username}, password={password}</td></tr>
<tr><td>Organization<td><td>Full access to perform any operation on an App Services 
organization</td>
<td>grant_type=client_credentials, client_id={client_id}, client_secret={client_secret}</td></tr>
</table>

### Using access tokens

When you obtain an access token, you must provide it with every subsequent API call that you make. 
There are two ways to provide your access token.

You can add the token to the API query string:

    curl https://api.llbean.com/products?access_token={access_token}

You can include the token in an HTTP authorization header:

    Authorization: Bearer {access_token}
    
### Application User
The most commonly used type of access is application user. Application users are the users of your 
application. You create a user entity for each user. Each user entity has a username and password, 
which the application user associated with that entity uses to log in to your app. Your app then
uses the username and password in a call to the OAuth 2.0 APl to get an application-level access token.

Using the username and password values specified when the user entity was created, your app can 
connect to the App Services application endpoint to request an access token. Here is an example
in cURL format of a request for application user access:


**Request**

    curl -X POST -i -H "Content-Type: application/json" "https://api.llbean.com/token" -d '{"grant_type":"password","username":"john.doe","password":"testpw"}'

**Response**

    < 200
    < Content-Type: application/json
    {
      "uuid": "9022090b-7c9f-11e2-b6ef-02e81ac5a17b",
      "type": "user",
      "name": "John Doe",
      "created": 1361503553433,
      "modified": 1361503553433,
      "username": "john.doe",
      "email": "john.doe@gmail.com",
      "activated": true,
      "picture": "http://www.gravatar.com/avatar/e13743a7f1db7f4246badd6fd6ff54ff"
      "title": "Mr.",
      "homepage":"http://www.yahoo.com",
      "telephone":"207-555-5555",
      "birthday":"2000-01-00",
      "street1":"12 Gray Cliff",
      "street2":"Apt A.",
      "city":"Boston",
      "state":"Mass",
      "zip":"112233",
      "country":"USA",
      "activities":[...],
      "devices":[...],
      "feed":[...],
      "groups":[...],
      "roles":[...],
      "following":[...],
      "followers":[...],
      "views":[...],
      "recommendations":[...]
    }
    
### Administrative User

### Provider

### Submitting token requests to other endpoints

### Authentication token time to live

### Safe mobile access



## Groups
- Guests
- Application Users
- Registered Users
- Administrators

## Roles
- Guest


###  Permission Rules
**Guest**
<table>
<tr><td>Path            </td><td>Get      </td><td>Post     </td><td>Put     </td><td>Delete    </td></tr>
<tr><td>/pages/*  </td><td>X        </td><td>         </td><td>        </td><td>          </td></tr>
<tr><td>/departments/*  </td><td>X        </td><td>         </td><td>        </td><td>          </td></tr>
<tr><td>/landers/*      </td><td>X        </td><td>         </td><td>        </td><td>          </td></tr>
<tr><td>/hompages/*     </td><td>X        </td><td>         </td><td>        </td><td>          </td></tr>
<tr><td>/help/*         </td><td>X        </td><td>         </td><td>        </td><td>          </td></tr>
<tr><td>/retail/*       </td><td>X        </td><td>         </td><td>        </td><td>          </td></tr>
<tr><td>/info/*         </td><td>X        </td><td>X        </td><td>        </td><td>          </td></tr>
<tr><td>/views/*        </td><td>X        </td><td>X        </td><td>        </td><td>          </td></tr>
</table>


**Editor**
<table>
<tr><td>Path            </td><td>Get      </td><td>Post     </td><td>Put     </td><td>Delete    </td></tr>
<tr><td>/procedures/*   </td><td>X        </td><td>X         </td><td>X        </td><td>X          </td></tr>
<tr><td>/videos/*       </td><td>X        </td><td>X         </td><td>X        </td><td>X          </td></tr>
<tr><td>/audio/*        </td><td>X        </td><td>X         </td><td>X        </td><td>X          </td></tr>
<tr><td>/images/*       </td><td>X        </td><td>X         </td><td>X        </td><td>X          </td></tr>
<tr><td>/slides/*       </td><td>X        </td><td>X         </td><td>X        </td><td>X          </td></tr>
<tr><td>/devices/*      </td><td>X        </td><td>X         </td><td>X        </td><td>X          </td></tr>
<tr><td>/users/*        </td><td>X        </td><td>          </td><td>         </td><td>           </td></tr>
<tr><td>/groups/*       </td><td>X        </td><td>          </td><td>         </td><td>           </td></tr>
<tr><td>/roles/*        </td><td>X        </td><td>          </td><td>         </td><td>           </td></tr>
<tr><td>/views/*        </td><td>X        </td><td>X         </td><td>          </td><td>           </td></tr>
<tr><td>/media/*        </td><td>X        </td><td>X         </td><td>X         </td><td>X          </td></tr>
</table>


Data Model
=====

# Products
-----
Procedures are made of a collection of sections.  Each section has a specific spot.

 - A medical procedure performed by your doctor e.g. Incisional Breast Biopsy  
 - A post procedure care task performed by the patient.
 - A procedure has related audio, video, images and html content.
 - A procedure has a collection of sequential of sections, each section has a collection of sequential steps 


Example Product Object

    {
        id: "332",
        name: "name",
        description: "Breast Biopsy",
        title: "Breast Biopsy - Incisional",
        departments: [...],
        items: [...],
        images: [...]
        prices: [...],
        attributes: [...],
        availability: [...],
        shipping: [...],
        services: [...],
        content: [...]
    }

# Departments
-----


# Items
-----

# Images
-----

# Prices
-----

# Attributes
-----

# Reviews
-----

# Availability
-----

# Shipping
-----

# Services
-----




GET /product/{id}
GET /product/{id}/availability

GET /product/{id}/attributes
GET /product/{id}/attributes/{id}/values

GET /product/{id}/departments

GET /product/{id}/items
GET /product/{id}/items/{id}

GET /product/{id}/offer/{id}

GET /product/{id}/offer/{id}/prices
GET /product/{id}/shipping
GET /product/{id}/services



# API Verbs
----

POST 
----

GET 
----

POST
----

PUT
----

DELETE
----

# HTTP response codes
----

* **200** - General use, OK
* **201** - Successful execution of request
* **202** - Asynchronous process
* **301** - Redirec
* **403** - Unauthorized
* **404** - Service Not found 
* **503** - Service unavailable (for maintenance reasons; or user reached their request limit for the day/hour).


# Querystring parameters

* **Search** -  ?q=key:=value+key2:<value2...
* **Attributes** - ?fields=id,name...
* **Pagination** - ?offset=25&limit=5 OR ?page=3&records_per_page=10


5) Metrics & logging
Generally, you want to track:

Who is accessing the API?
How many requests is each user making?
How many 404s are we returning?
Do we need to use more 301s?
Which endpoints are being used the most/least/not at all?


# Authorizations
The purpose of the authorizations section is to prescribe how clients should connect to the API.  
There are two supported mechanisms:

static header (i.e. API Key). A statically-defined header or query param is passed to the API. The name 
and transfer method are configured by the site provider.

oAuth 2.0. The goal with describing the oAuth2 structure is to allow programmatic discovery and 
connectivity given a known set of endpoints for performing the oauth dance.


# Relationships
----
/courses/12345
    {"id":"12345","title":"foo","students":"/courses/12345/students",...}


# Versions
----
numbers can be passed either through HTTP headers or in the route (no consensus was reached in this regard)



---

--
L.L.Bean API Resources
The following is a section of resources in the L.L.Bean API.  We're going to 
use the Swagger spec - https://github.com/wordnik
--

List products added into your shopping-cart. (comment block again in Markdown)
GET /resources
< 200
< Content-Type: application/json
{
   "apiVersion":"1.0.0",
   "swaggerVersion":"1.2",
   "links": [
            {
                "rel": "self",
                "href": "http://llb.apiary.io/resources"
            },
            {
                "rel": "docs",
                "href": "http://docs.llb.apiary.io"
            },
            {
                "rel": "console",
                "href": "http://docs.llb.apiary.io/#get-%2Fresources"
            }
    ],
   "apis":[
       {
        "path":"/llb/gnajax",
        "description":"L.L.Bean Guided Navigation API",
        "links": [
            {
                "rel": "self",
                "href": "http://llb.apiary.io/resources/llb/gnajax"
            }
        ]
      },
      {
        "path":"/product",
        "description":"L.L.Bean product detail API",
        "links": [
            {
                "rel": "self",
                "href": "http://llb.apiary.io/resources/product"
            }
        ]
      },
      {
         "path":"/purchase",
         "description":"L.L.Bean purchase history API",
        "links": [
            {
                "rel": "self",
                "href": "http://llb.apiary.io/resources/purchase"
            }
        ]
      },
      {
         "path":"/content",
         "description":"L.L.Bean unstructured content API",
         "links": [
            {
                "rel": "self",
                "href": "http://llb.apiary.io/resources/content"
            }
         ]
      },
      {
         "path":"/shoppingbag",
         "description":"L.L.Bean unstructured content API"
      },
      {
         "path":"/user",
         "description":"L.L.Bean unstructured content API"
      }
   ],
   "authorizations":{
      "oauth2":{
         "type":"oauth2",
         "scopes":[
            "PUBLIC"
         ],
         "grantTypes":{
            "implicit":{
               "loginEndpoint":{
                  "url":"http://api.llbean.com/oauth/dialog"
               },
               "tokenName":"access_code"
            },
            "authorization_code":{
               "tokenRequestEndpoint":{
                  "url":"http://api.llbean.com/oauth/requestToken",
                  "clientIdName":"client_id",
                  "clientSecretName":"client_secret"
               },
               "tokenEndpoint":{
                  "url":"http://api.llbean.com/oauth/token",
                  "tokenName":"access_code"
               }
            }
         }
      },
      "apiKey":{
         "type":"apiKey",
         "keyName":"api_key",
         "passAs":"header"
      },
      "basicAuth":{
         "type":"basicAuth"
      }
   },
   "info":{
      "title":"L.L.Bean API Explorer",
      "description":"This is the L.L.Bean Swagger Sample APP",
      "termsOfServiceUrl":"http://api.llbean.com/terms/",
      "contact":"kkleva@llbean.com",
      "license":"Apache 2.0",
      "licenseUrl":"http://www.apache.org/licenses/LICENSE-2.0.html"
   }
}


L.L.Bean Guided NavigationAPI
GET /resources/llb/gnajax
< 201
< Content-Type: application/json
{
   "apiVersion":"1.0.0",
   "swaggerVersion":"1.2",
   "basePath":"http://www.llbean.com",
   "resourcePath":"/llb/gnajax",
   "produces":[
      "application/json"
   ],
   "apis":[
      {
         "path":"/llb/gnajax/{id}",
         "operations":[
            {
               "method":"GET",
               "summary":"Get page by id",
               "notes":"",
               "type":"Page",
               "nickname":"getPageById",
               "parameters":[
                  {
                     "name":"id",
                     "description":"The page id.",
                     "required":true,
                     "type":"integer",
                     "paramType":"path"
                  }
               ],
               "responseMessages":[
                  {
                     "code":400,
                     "message":"Invalid Id supplied"
                  },
                  {
                     "code":404,
                     "message":"Page not found"
                  }
               ]
            }
         ]
      },
      {
         "path":"/price/{id}",
         "operations":[
            {
               "method":"GET",
               "summary":"Get offer price by id",
               "notes":"",
               "type":"Price",
               "nickname":"getPriceById",
               "parameters":[
                  {
                     "name":"id",
                     "description":"The offer price id.",
                     "required":true,
                     "type":"integer",
                     "paramType":"path"
                  }
               ],
               "responseMessages":[
                  {
                     "code":400,
                     "message":"Invalid Id supplied"
                  },
                  {
                     "code":404,
                     "message":"Item not found"
                  }
               ]
            }
         ]
      },
      {
         "path":"/attribute/{id}",
         "operations":[
            {
               "method":"GET",
               "summary":"Get attribute by id",
               "notes":"",
               "type":"Attribute",
               "nickname":"getAttributeById",
               "parameters":[
                  {
                     "name":"id",
                     "description":"The attribute id.",
                     "required":true,
                     "type":"integer",
                     "paramType":"path"
                  }
               ],
               "responseMessages":[
                  {
                     "code":400,
                     "message":"Invalid Id supplied"
                  },
                  {
                     "code":404,
                     "message":"Attribute not found"
                  }
               ]
            }
         ]
      },
     {
         "path":"/review/{id}/{itemid}",
         "operations":[
            {
               "method":"GET",
               "summary":"Get review by id",
               "notes":"",
               "type":"Attribute",
               "nickname":"getAttributeById",
               "parameters":[
                  {
                     "name":"id",
                     "description":"The page id.",
                     "required":true,
                     "type":"integer",
                     "paramType":"path"
                  },
                  {
                     "name":"itemid",
                     "description":"The item id.",
                     "required":false,
                     "type":"integer",
                     "paramType":"path"
                  }
               ],
               "responseMessages":[
                  {
                     "code":400,
                     "message":"Invalid Id supplied"
                  },
                  {
                     "code":404,
                     "message":"No reviews found not found"
                  }
               ]
            }
         ]
      }
   ],
   "models":{
      "User":{
         "id":"Product",
         "properties":{
            "id":{
               "type":"integer",
               "format":"int64",
               "description":"Unique identifier for the user"
            },
            "username":{
               "type":"string",
               "description":"Unique username"
            },
            "firstName":{
               "type":"string",
               "description":"First name of the user"
            },
            "lastName":{
               "type":"string",
               "description":"Last name of the user"
            },
            "email":{
               "type":"string",
               "description":"Email address of the user"
            },
            "password":{
               "type":"string",
               "description":"Password name of the user"
            },
            "phone":{
               "type":"string",
               "description":"Phone number of the user"
            },
            "userStatus":{
               "type":"integer",
               "format":"int32",
               "description":"User Status",
               "enum":[
                  "1-registered",
                  "2-active",
                  "3-closed"
               ]
            }
         }
      }
   }
}



L.L.Bean Product API
GET /resources/product
< 201
< Content-Type: application/json
{
   "apiVersion":"1.0.0",
   "swaggerVersion":"1.2",
   "basePath":"http://api.llbean.com",
   "resourcePath":"/product",
   "produces":[
      "application/json"
   ],
   "apis":[
      {
         "path":"/product/{id}",
         "operations":[
            {
               "method":"GET",
               "summary":"Get product by id",
               "notes":"",
               "type":"Product",
               "nickname":"getProductById",
               "parameters":[
                  {
                     "name":"id",
                     "description":"The product id.  Correlates with Page Id e.g. /llb/shop/607",
                     "required":true,
                     "type":"integer",
                     "paramType":"path"
                  }
               ],
               "responseMessages":[
                  {
                     "code":400,
                     "message":"Invalid Id supplied"
                  },
                  {
                     "code":404,
                     "message":"Product not found"
                  }
               ]
            }
         ]
      },
      {
         "path":"/item/{id}",
         "operations":[
            {
               "method":"GET",
               "summary":"Get item by id",
               "notes":"",
               "type":"Item",
               "nickname":"getItemById",
               "parameters":[
                  {
                     "name":"id",
                     "description":"The item id.  Correlates with Item Id e.g. /llb/shop/607",
                     "required":true,
                     "type":"integer",
                     "paramType":"path"
                  }
               ],
               "responseMessages":[
                  {
                     "code":400,
                     "message":"Invalid Id supplied"
                  },
                  {
                     "code":404,
                     "message":"Item not found"
                  }
               ]
            }
         ]
      },
      {
         "path":"/price/{id}",
         "operations":[
            {
               "method":"GET",
               "summary":"Get offer price by id",
               "notes":"",
               "type":"Price",
               "nickname":"getPriceById",
               "parameters":[
                  {
                     "name":"id",
                     "description":"The offer price id.",
                     "required":true,
                     "type":"integer",
                     "paramType":"path"
                  }
               ],
               "responseMessages":[
                  {
                     "code":400,
                     "message":"Invalid Id supplied"
                  },
                  {
                     "code":404,
                     "message":"Item not found"
                  }
               ]
            }
         ]
      },
      {
         "path":"/attribute/{id}",
         "operations":[
            {
               "method":"GET",
               "summary":"Get attribute by id",
               "notes":"",
               "type":"Attribute",
               "nickname":"getAttributeById",
               "parameters":[
                  {
                     "name":"id",
                     "description":"The attribute id.",
                     "required":true,
                     "type":"integer",
                     "paramType":"path"
                  }
               ],
               "responseMessages":[
                  {
                     "code":400,
                     "message":"Invalid Id supplied"
                  },
                  {
                     "code":404,
                     "message":"Attribute not found"
                  }
               ]
            }
         ]
      },
     {
         "path":"/review/{id}/{itemid}",
         "operations":[
            {
               "method":"GET",
               "summary":"Get review by id",
               "notes":"",
               "type":"Attribute",
               "nickname":"getAttributeById",
               "parameters":[
                  {
                     "name":"id",
                     "description":"The page id.",
                     "required":true,
                     "type":"integer",
                     "paramType":"path"
                  },
                  {
                     "name":"itemid",
                     "description":"The item id.",
                     "required":false,
                     "type":"integer",
                     "paramType":"path"
                  }
               ],
               "responseMessages":[
                  {
                     "code":400,
                     "message":"Invalid Id supplied"
                  },
                  {
                     "code":404,
                     "message":"No reviews found not found"
                  }
               ]
            }
         ]
      }
   ],
   "models":{
      "User":{
         "id":"Product",
         "properties":{
            "id":{
               "type":"integer",
               "format":"int64",
               "description":"Unique identifier for the user"
            },
            "username":{
               "type":"string",
               "description":"Unique username"
            },
            "firstName":{
               "type":"string",
               "description":"First name of the user"
            },
            "lastName":{
               "type":"string",
               "description":"Last name of the user"
            },
            "email":{
               "type":"string",
               "description":"Email address of the user"
            },
            "password":{
               "type":"string",
               "description":"Password name of the user"
            },
            "phone":{
               "type":"string",
               "description":"Phone number of the user"
            },
            "userStatus":{
               "type":"integer",
               "format":"int32",
               "description":"User Status",
               "enum":[
                  "1-registered",
                  "2-active",
                  "3-closed"
               ]
            }
         }
      }
   }
}

Save new products in your shopping cart
GET /resources/order
< 201
< Content-Type: application/json
{
   "apiVersion":"1.0.0",
   "swaggerVersion":"1.2",
   "basePath":"http://api.llbean.com",
   "resourcePath":"/order",
   "produces":[
      "application/json"
   ],
   "apis":[
      {
         "path":"/product/{id}",
         "operations":[
            {
               "method":"GET",
               "summary":"Get product by id",
               "notes":"",
               "type":"Product",
               "nickname":"getProductById",
               "parameters":[
                  {
                     "name":"id",
                     "description":"The product id.  Correlates with Page Id e.g. /llb/shop/607",
                     "required":true,
                     "type":"integer",
                     "paramType":"path"
                  }
               ],
               "responseMessages":[
                  {
                     "code":400,
                     "message":"Invalid Id supplied"
                  },
                  {
                     "code":404,
                     "message":"Product not found"
                  }
               ]
            }
         ]
      }
   ],
   "models":{
      "User":{
         "id":"Product",
         "properties":{
            "id":{
               "type":"integer",
               "format":"int64",
               "description":"Unique identifier for the user"
            },
            "username":{
               "type":"string",
               "description":"Unique username"
            },
            "firstName":{
               "type":"string",
               "description":"First name of the user"
            },
            "lastName":{
               "type":"string",
               "description":"Last name of the user"
            },
            "email":{
               "type":"string",
               "description":"Email address of the user"
            },
            "password":{
               "type":"string",
               "description":"Password name of the user"
            },
            "phone":{
               "type":"string",
               "description":"Phone number of the user"
            },
            "userStatus":{
               "type":"integer",
               "format":"int32",
               "description":"User Status",
               "enum":[
                  "1-registered",
                  "2-active",
                  "3-closed"
               ]
            }
         }
      }
   }
}

Save new products in your shopping cart
GET /resources/purchase
< 201
< Content-Type: application/json
{
   "apiVersion":"1.0.0",
   "swaggerVersion":"1.2",
   "basePath":"http://api.llbean.com",
   "resourcePath":"/purchase",
   "produces":[
      "application/json"
   ],
   "apis":[
      {
         "path":"/purchase/{id}",
         "operations":[
            {
               "method":"GET",
               "summary":"Get product by id",
               "notes":"",
               "type":"Product",
               "nickname":"getProductById",
               "parameters":[
                  {
                     "name":"id",
                     "description":"The product id.  Correlates with Page Id e.g. /llb/shop/607",
                     "required":true,
                     "type":"integer",
                     "paramType":"path"
                  }
               ],
               "responseMessages":[
                  {
                     "code":400,
                     "message":"Invalid Id supplied"
                  },
                  {
                     "code":404,
                     "message":"Product not found"
                  }
               ]
            }
         ]
      }
   ],
   "models":{
      "User":{
         "id":"Product",
         "properties":{
            "id":{
               "type":"integer",
               "format":"int64",
               "description":"Unique identifier for the user"
            },
            "username":{
               "type":"string",
               "description":"Unique username"
            },
            "firstName":{
               "type":"string",
               "description":"First name of the user"
            },
            "lastName":{
               "type":"string",
               "description":"Last name of the user"
            },
            "email":{
               "type":"string",
               "description":"Email address of the user"
            },
            "password":{
               "type":"string",
               "description":"Password name of the user"
            },
            "phone":{
               "type":"string",
               "description":"Phone number of the user"
            },
            "userStatus":{
               "type":"integer",
               "format":"int32",
               "description":"User Status",
               "enum":[
                  "1-registered",
                  "2-active",
                  "3-closed"
               ]
            }
         }
      }
   }
}

Save new products in your shopping cart
GET /resources/content
< 201
< Content-Type: application/json
{
   "apiVersion":"1.0.0",
   "swaggerVersion":"1.2",
   "basePath":"http://api.llbean.com",
   "resourcePath":"/content",
   "produces":[
      "application/json"
   ],
   "apis":[
      {
         "path":"/purchase/{id}",
         "operations":[
            {
               "method":"GET",
               "summary":"Get product by id",
               "notes":"",
               "type":"Product",
               "nickname":"getProductById",
               "parameters":[
                  {
                     "name":"id",
                     "description":"The product id.  Correlates with Page Id e.g. /llb/shop/607",
                     "required":true,
                     "type":"integer",
                     "paramType":"path"
                  }
               ],
               "responseMessages":[
                  {
                     "code":400,
                     "message":"Invalid Id supplied"
                  },
                  {
                     "code":404,
                     "message":"Product not found"
                  }
               ]
            }
         ]
      }
   ],
   "models":{
      "User":{
         "id":"Product",
         "properties":{
            "id":{
               "type":"integer",
               "format":"int64",
               "description":"Unique identifier for the user"
            },
            "username":{
               "type":"string",
               "description":"Unique username"
            },
            "firstName":{
               "type":"string",
               "description":"First name of the user"
            },
            "lastName":{
               "type":"string",
               "description":"Last name of the user"
            },
            "email":{
               "type":"string",
               "description":"Email address of the user"
            },
            "password":{
               "type":"string",
               "description":"Password name of the user"
            },
            "phone":{
               "type":"string",
               "description":"Phone number of the user"
            },
            "userStatus":{
               "type":"integer",
               "format":"int32",
               "description":"User Status",
               "enum":[
                  "1-registered",
                  "2-active",
                  "3-closed"
               ]
            }
         }
      }
   }
}

Save new products in your shopping cart
GET /resources/shoppingbag
< 201
< Content-Type: application/json
{
   "apiVersion":"1.0.0",
   "swaggerVersion":"1.2",
   "basePath":"http://api.llbean.com",
   "resourcePath":"/shoppingbag",
   "produces":[
      "application/json"
   ],
   "apis":[
      {
         "path":"/purchase/{id}",
         "operations":[
            {
               "method":"GET",
               "summary":"Get product by id",
               "notes":"",
               "type":"Product",
               "nickname":"getProductById",
               "parameters":[
                  {
                     "name":"id",
                     "description":"The product id.  Correlates with Page Id e.g. /llb/shop/607",
                     "required":true,
                     "type":"integer",
                     "paramType":"path"
                  }
               ],
               "responseMessages":[
                  {
                     "code":400,
                     "message":"Invalid Id supplied"
                  },
                  {
                     "code":404,
                     "message":"Product not found"
                  }
               ]
            }
         ]
      }
   ],
   "models":{
      "User":{
         "id":"Product",
         "properties":{
            "id":{
               "type":"integer",
               "format":"int64",
               "description":"Unique identifier for the user"
            },
            "username":{
               "type":"string",
               "description":"Unique username"
            },
            "firstName":{
               "type":"string",
               "description":"First name of the user"
            },
            "lastName":{
               "type":"string",
               "description":"Last name of the user"
            },
            "email":{
               "type":"string",
               "description":"Email address of the user"
            },
            "password":{
               "type":"string",
               "description":"Password name of the user"
            },
            "phone":{
               "type":"string",
               "description":"Phone number of the user"
            },
            "userStatus":{
               "type":"integer",
               "format":"int32",
               "description":"User Status",
               "enum":[
                  "1-registered",
                  "2-active",
                  "3-closed"
               ]
            }
         }
      }
   }
}

Save new products in your shopping cart
GET /resources/user
< 201
< Content-Type: application/json
{
   "apiVersion":"1.0.0",
   "swaggerVersion":"1.2",
   "basePath":"http://api.llbean.com",
   "resourcePath":"/user",
   "produces":[
      "application/json"
   ],
   "apis":[
      {
         "path":"/purchase/{id}",
         "operations":[
            {
               "method":"GET",
               "summary":"Get product by id",
               "notes":"",
               "type":"Product",
               "nickname":"getProductById",
               "parameters":[
                  {
                     "name":"id",
                     "description":"The product id.  Correlates with Page Id e.g. /llb/shop/607",
                     "required":true,
                     "type":"integer",
                     "paramType":"path"
                  }
               ],
               "responseMessages":[
                  {
                     "code":400,
                     "message":"Invalid Id supplied"
                  },
                  {
                     "code":404,
                     "message":"Product not found"
                  }
               ]
            }
         ]
      }
   ],
   "models":{
      "User":{
         "id":"Product",
         "properties":{
            "id":{
               "type":"integer",
               "format":"int64",
               "description":"Unique identifier for the user"
            },
            "username":{
               "type":"string",
               "description":"Unique username"
            },
            "firstName":{
               "type":"string",
               "description":"First name of the user"
            },
            "lastName":{
               "type":"string",
               "description":"Last name of the user"
            },
            "email":{
               "type":"string",
               "description":"Email address of the user"
            },
            "password":{
               "type":"string",
               "description":"Password name of the user"
            },
            "phone":{
               "type":"string",
               "description":"Phone number of the user"
            },
            "userStatus":{
               "type":"integer",
               "format":"int32",
               "description":"User Status",
               "enum":[
                  "1-registered",
                  "2-active",
                  "3-closed"
               ]
            }
         }
      }
   }
}
